* {
    margin: 0;
    padding: 0;
}

.major {
    display: flex;
    padding: 20px;
}

.main {
    height: 600px;
    flex: 1;
}

.card {
    height: 250px;
}

#bookslist {
    flex: 5;
    height: 600px;
    overflow-y: auto;
}
.containe {
    margin: auto;
    background-color: #666;
    width: 100%;
    padding: 20px;
    margin-top: 30px;
}

.containe div {
    margin-bottom: 10px;
}

input {
    height: 25px;
    display: flex;
}

button {
    cursor: pointer;
}

h3 {
    margin-bottom: 30px;
    text-decoration: underline;
}

.read-options {
    display: flex
}

.read-options div {
    width: 40px;
    margin-right: 10px;
}

.toggle-two {
    display: none;
}